<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let car of cars">
    <h3>{{car.id}}</h3>
    <img src="../assets/car.png" alt="Car">
    <mat-radio-group>
      <mat-radio-button *ngFor="let beacon of beacons" [value]="beacon.id" (change)="setTarget(car, beacon)">{{beacon.id}}</mat-radio-button>
    </mat-radio-group>
    
  </mat-grid-tile>
</mat-grid-list>
